<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Calculator</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="calc-container">
        <div class="calc-title">MyCalculator</div>
        <div class="calc-screen">0</div>
        <div class="calc-numbers">
            <div class="calc-row">
                <button class="calc-btn">C</button>
                <button class="calc-btn">CE</button>
                <button class="calc-btn">Back</button>
                <button class="calc-btn">+/-</button>
                <button class="calc-btn">%</button>
            </div>
            <div class="calc-row">
                <button class="calc-btn">7</button>
                <button class="calc-btn">8</button>
                <button class="calc-btn">9</button>
                <button class="calc-btn">/</button>
                <button class="calc-btn">sqrt</button>
            </div>
            <div class="calc-row">
                <button class="calc-btn">4</button>
                <button class="calc-btn">5</button>
                <button class="calc-btn">6</button>
                <button class="calc-btn">*</button>
                <button class="calc-btn">1/x</button>
            </div>
            <div class="calc-row">
                <button class="calc-btn">1</button>
                <button class="calc-btn">2</button>
                <button class="calc-btn">3</button>
                <button class="calc-btn">-</button>
                <button class="calc-btn">pi</button>
            </div>
            <div class="calc-row">
                <button class="calc-btn span-two">0</button>
                <button class="calc-btn">.</button>
                <button class="calc-btn">+</button>
                <button class="calc-btn">=</button>
            </div>
        </div>
    </div>
</body>

</html>