<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>From Validation</title>
    <script defer src="script.js"></script>
</head>
<body>
    <p id="error"></p>
    <form action="/" id="form" method="GET">
        <div>
            <label for="name">姓名:</label>
            <input type="text" id="name" name="name"> 
        </div>
        <div>
            <label for="password">密碼:</label>
            <input type="password" id="password" name="password">
        </div>
        <button type="submit">送出</button>
    </form>
</body>
</html>