<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Vue - Watcher</title>
</head>

<body>
	<div id="app">
		<h1>Latest Vue.js Commits</h1>
		<template v-for="branch in branches">
			<input type="radio" :value="branch" v-model="currentBranch">{{branch}}
		</template>
		<p>vuejs/vue@{{currentBranch}}</p>
		<ul>
			<li v-for="commit in commits">
				<a :href="commit.html_url" target="_blank" class="commit">更新紀錄</a>
				-
				by <span class="author"><a :href="commit.author.html_url">{{commit.commit.author.name}}</a></span>
				at <span class="date">{{commit.commit.author.date}}</span>
			</li>
		</ul>
	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.8/vue.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
	<script>
		let app = new Vue({
			el: '#app',
			data: {
				branches: ['master', 'dev'],
				currentBranch: 'master',
				commits: null
			},

			created: function () {
				this.fetchData()
			},

			watch: {
				//當currentBranch修改時，調用fetch function
				currentBranch: 'fetchData'
			},

			methods: {
				fetchData: function () {
					const BASE_URL = 'https://api.github.com/repos/vuejs/vue/commits?per_page=3&sha='
					let result = this
					axios
						.get(`${BASE_URL}${this.currentBranch}`)
						.then((response) => {
							this.commits = response.data
						}).catch((err) => {
							console.log(err);
						});
				}
			}
		})
	</script>
</body>

</html>